<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <%= current_user.email %>
  <% if current_user.first_name %>
    <%= "Hi, I am #{current_user.first_name}" %>
  <% else %>
  <div class="card">
    <%= "LE WAGWAN, I AM #{current_user.email}" %>
  </div>
<% end %>
